# Java (Compilers and build files)
*.class
*.jar
*.war
*.ear
bin/

# Virtualization & Containers
.docker/
*.log
docker-compose.override.yml

# Environment and Secrets
.env
.env.local
.env.*.local

# OS Specific
Thumbs.db
.DS_Store

# VS Code specific
.vscode/
.history/
# Ignore Postgres data files
postgres-data/
*.pid
*.opts
*.conf
# Ignore logs
host-logs/
*.log
postgres-data/
postgres-backup-files/
**/base/
**/global/
**/pg_*